/* نسخه کامل با کامنت‌های دقیق، خط‌به‌خط، بدون تغییر حتی یک کاراکتر از کد */

:root {
  --icon: #b0bfd8; /* رنگ پیش‌فرض آیکن‌ها */
}

body {
  width: 100%; /* عرض کامل صفحه */
  height: 100vh; /* ارتفاع کل صفحه */
  display: flex; /* چیدمان فلکس */
  justify-content: center; /* وسط‌چین افقی */
  align-items: center; /* وسط‌چین عمودی */
  overflow: hidden; /* جلوگیری از اسکرول */
  margin: 0; /* حذف فاصله‌های پیش‌فرض */
  background-color: #252432; /* رنگ پس‌زمینه کل صفحه */
}

nav.menu {
  display: flex; /* نمایش آیتم‌ها در یک ردیف */
  justify-content: space-between; /* فاصله مساوی بین آیتم‌ها */
  position: relative; /* برای استفاده از position:absolute در داخل */
  height: 150px; /* ارتفاع نوار منو */
  padding: 0 29px 10px; /* فاصله داخلی سمت راست/چپ و پایین */
  background: #fff0; /* پس‌زمینه شفاف */
  align-items: flex-end; /* آیتم‌ها را در پایین قرار می‌دهد */
  width: 600px; /* عرض کل منو */
}

nav.menu:before {
  content: ""; /* ساخت پس‌زمینه زیر منو */
  width: 100%; /* عرض کامل */
  height: 150px; /* ارتفاع پس زمینه */
  background: #181818; /* رنگ پس زمینه */
  position: absolute; /* قرار گرفتن پشت آیتم‌ها */
  left: 0;
  bottom: 0;
  border-radius: 20px; /* گرد شدن گوشه‌ها */
  z-index: -1; /* قرارگیری زیر منو */
  box-shadow: 1px 1px 2px 0px #fff; /* سایه سفید ظریف */
}

input {
  display: none; /* پنهان کردن inputهای رادیویی */
}

label {
  text-decoration: none; /* بدون خط زیر نوشته */
  font-family: sans-serif; /* فونت ساده */
  text-transform: uppercase; /* تبدیل متن به حروف بزرگ */
  font-size: 14px; /* اندازه متن */
  min-width: 100px; /* حداقل عرض هر آیتم */
  height: 100px; /* ارتفاع هر گزینه */
  margin: 10px 10px 20px; /* فاصله دور آیتم */
  text-align: center; /* وسط‌چین */
  display: inline-grid; /* چینش داخلی مناسب برای آیکن */
  align-items: end; /* قرار دادن آیکن در پایین */
  color: #b0bfd8; /* رنگ متن */
  position: relative; /* برای قرارگیری ::before/::after */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* انیمیشن نرم */
  cursor: pointer; /* نمایش حالت کلیک */
}

label:hover {
  color: #fff; /* تغییر رنگ هنگام هاور */
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff; /* افکت نور */
}

input:checked + label {
  color: #fff; /* متن سفید هنگام فعال شدن */
  height: 130px; /* افزایش ارتفاع برای انتخاب‌شده */
}

.selector {
  --hole: #2196f3; /* رنگ مرکز افکت دایره */
  background:
    radial-gradient(circle at 50% 50%, #fff8 30px, #fff0 45px, #fff 50px, #fff0 50px 100%), /* افکت نورانی وسط */
    radial-gradient(circle at 50% 50%, var(--hole) 0 45px, #fff0 50px 100%), /* دایره رنگی */
    radial-gradient(circle at 50% 75px, #181818 0 70px, #fff0 71px 100%); /* سایه زیر دایره */
  width: 95px;
  height: 95px;
  position: absolute;
  bottom: 47px; /* موقعیت در پایین */
  left: 0;
  z-index: -1; /* قرارگیری پشت منو */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* انیمیشن جابجایی */
  border: 19px solid #181818; /* ضخامت قاب */
  border-radius: 100%; /* شکل دایره کامل */
}

/* جابجایی دایره انتخاب بر اساس گزینه انتخاب‌شده */
#m-home:checked ~ .selector { left: 23px; }
#m-search:checked ~ .selector { left: 143px; filter: hue-rotate(535deg); }
#m-notification:checked ~ .selector { left: 263px; filter: hue-rotate(950deg); }
#m-favorites:checked ~ .selector { left: 383px; filter: hue-rotate(1580deg); }
#m-profile:checked ~ .selector { left: 502px; filter: hue-rotate(1850deg); }

.selector:after {
  content: "";
  position: absolute;
  bottom: -80px; /* سایه زیر دایره */
  width: 80px;
  height: 10px;
  background: #181818;
  left: calc(50% - 40px);
  border-radius: 5px 5px 15px 15px;
}

input:checked ~ .selector:after {
  box-shadow: 0 -17px 35px 8px var(--hole); /* افکت نور بالای دایره */
}

/*** ICONS — آیکن‌ها */
label:before,
label:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

label:hover:before,
label:hover:after {
  filter: brightness(1.5) drop-shadow(0px 0px 4px #fff); /* افکت هاور */
}

input:checked + label:before,
input:checked + label:after {
  filter: brightness(1.5) drop-shadow(0px 0px 2px var(--sel)); /* افکت فعال */
}

/* آیکن خانه */
label[for="m-home"]:before {
  width: 40px;
  height: 40px;
  left: 30px;
  top: 30px;
  border-radius: 2px;
  background:
    conic-gradient(from 90deg at 65% 60%, var(--icon) 0 25%, #fff0 0 100%),
    conic-gradient(from 180deg at 35% 60%, var(--icon) 0 25%, #fff0 0 100%),
    conic-gradient(from 135deg at 50% 0%, var(--icon) 0 25%, #fff0 0 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%, 100% 27px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

label[for="m-home"]:after {
  width: 40px;
  height: 40px;
  left: 30px;
  top: 24px;
  border: 6px solid var(--icon);
  border-right-width: 0;
  border-bottom-width: 0;
  transform: rotate(45deg); /* شکل سقف خانه */
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* آیکن جستجو */
label[for="m-search"]:before {
  width: 40px;
  height: 40px;
  left: 20px;
  top: 17px;
  border: 6px solid var(--icon); /* حلقه ذره‌بین */
  border-radius: 100%; /* دایره کامل */
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

label[for="m-search"]:after {
  width: 22px;
  height: 9px;
  left: 60px;
  top: 50px;
  background: var(--icon); /* دسته ذره‌بین */
  transform-origin: left top;
  transform: rotate(45deg);
  border-radius: 0 10px 10px 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* آیکن اعلان */
label[for="m-notification"]:before {
  width: 50px;
  height: 42px;
  left: 25px;
  top: 20px;
  z-index: 1;
  border-radius: 30px 30px 0 0; /* لبه‌های زنگ */
  background:
    linear-gradient(90deg, #fff0 0 6px, var(--icon) 0 calc(100% - 6px), #fff0 calc(100% - 6px) 100%),
    conic-gradient(from 135deg at 50% 33%, var(--icon) 0 25%, #fff0 0 100%);
}

label[for="m-notification"]:after {
  width: 10px;
  height: 57px;
  left: 45px;
  top: 14px;
  z-index: 0;
  background:
    radial-gradient(circle at 50% 6px, var(--icon) 3px, #fff0 4px 100%), #fff0;
  transform-origin: left top;
  border-bottom: 6px solid var(--icon); /* لبه پایینی */
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* آیکن علاقه‌مندی‌ها */
label[for="m-favorites"]:before {
  width: 50px;
  height: 50px;
  left: 18px;
  top: -9px;
  background:
    radial-gradient(circle at 16px 16px, var(--icon) 0 16px, #fff0 calc(16px + 1px) 100%),
    radial-gradient(circle at 34px 34px, var(--icon) 0 16px, #fff0 calc(16px + 1px) 100%),
    linear-gradient(45deg, var(--icon) 0 37px, #fff0 38px 100%);
  border-radius: 17px 22px 17px 4px;
  transform: rotate(-45deg); /* ساخت قلب */
  transform-origin: center right;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* آیکن پروفایل */
label[for="m-profile"]:before {
  width: 50px;
  height: 54px;
  top: 16px;
  background:
    radial-gradient(circle at 50% 15px, var(--icon) 0 12px, #fff0 13px 100%), /* سر */
    radial-gradient(circle at 50% 100%, var(--icon) 0 22px, #fff0 23px 100%); /* بدن */
  left: 25px;
  border-radius: 8px;
}

/* رنگ گزینه فعال */
input:checked + label {
  color: var(--sel);
  text-shadow:
    0 0 5px var(--sel),
    0 0 10px var(--sel);
}

/* رنگ اختصاصی هر گزینه */
input:checked + label[for="m-home"] { --sel: #39a1f4; }
input:checked + label[for="m-search"] { --sel: #f48d4e; }
input:checked + label[for="m-notification"] { --sel: #84a91c; }
input:checked + label[for="m-favorites"] { --sel: #ff6275; height: 125px; }
input:checked + label[for="m-profile"] { --sel: #9d74ff; }

/* حالت نمایش در موبایل عمودی */
@media only screen and (orientation: portrait) {
  label {
    color: transparent !important; /* مخفی کردن نوشته */
    text-shadow: none !important;
  }
}
